<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Homepage</h1>
  <form action="" method="POST">
    <label for="firstName">New message</label>
    <input name="messageTitle" type="text" placeholder="Title" required />
    <input name="messageText" type="text" placeholder="Message here" required />
    <button>Create message</button>
  </form>
  <a href='/logout'>Log out</a>
  <section>
      <% messages.forEach(message => {%> 
          <h5>Title</h5>
          <p> <%=message.title%> </p> 
          <h5>Message</h5>
          <p> <%=message.text%></p>
          <form action="" method="POST">
            <button>Delete</button>
          </form>
      <%}); %>
  </section>
</body>
</html>