<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="firstName">First Name</label>
    <input name="firstName" placeholder="First name" type="text" required/>
    <label for="lastName">First Name</label>
    <input name="lastName" placeholder="Last name" type="text" required/>
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" required/>
    <label for="password">Password</label>
    <input name="password" type="password" required/>
    <label for="passwordConfirmation">Confirm password</label>
    <input name="passwordConfirmation" type="password" required/>
    <button>Sign Up</button>
  </form>

  <a href='/login'>Login</a>
</body>
</html>